<h1>Welcome to Word Types</h1>
<br>

<p>Here you can find out whether words are equal, palindrome, isogram or anagrams.</p>

<br><br>

<div>
  <p>Type the following into the web browser to test for each word type:</p>
    <ul>
      <li>Equal --> "/equal/word1/word2"</li>
      <li>Palindrome --> "/palindrome/word1"</li>
      <li>Isogram --> "/isogram/word1"</li>
      <li>Anagrams --> "/anagram/word1/word2"</li>
    </ul>
</div>


<br><br>

<nav>
<p>Click on each of the word types to find out their meaning.</p>
<a href="/palindrome">Palindrome</a>
<a href="/isogram">Isogram</a>
<a href="/anagram">Anagram</a>
</nav>
